/*------------------------------------- 
# Custom Styles File for Bookmark App #
--------------------------------------*/

/*----------------------------------------- 
# Definition of Fonts Used in Bookmark Site  
------------------------------------------*/
@font-face {
  font-family: "Pacifico";
  src: url("./../webfonts/Pacifico-Regular.woff2") format("woff2"),
    url("./../webfonts/Pacifico-Regular.woff") format("woff"),
    url("./../webfonts/Pacifico-Regular.tf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Righteous";
  src: url("./../webfonts/Righteous-Regular.woff2") format("woff2"),
    url("./../webfonts/Righteous-Regular.woff") format("woff"),
    url("./../webfonts/Righteous-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans Caption Bold";
  src: url("./../webfonts/PTSans-CaptionBold.woff2") format("woff2"),
    url("./../webfonts/PTSans-CaptionBold.woff") format("woff"),
    url("./../webfonts/PTSans-CaptionBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans Caption Regular";
  src: url("./../webfonts/PTSansCaption-Regular.woff2") format("woff2"),
    url("./../webfonts/PTSansCaption-Regular.woff") format("woff"),
    url("./../webfonts/PTSansCaption-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BreeSerif Regular";
  src: url("./../webfonts/BreeSerif-Regular.woff2") format("woff2"),
    url("./../webfonts/BreeSerif-Regular.woff") format("woff"),
    url("./../webfonts/BreeSerif-Regular.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*---------------------------------------- 
# Definition of Custom Variables in root
# Pseudo Class 
------------------------------------------*/
:root {
  --main-color: rgb(247, 236, 222);
  --h1-color: rgb(53, 46, 40);
}
/*----------------------------------------- 
# General Styles 
------------------------------------------*/
::selection {
  background-color: rgb(254, 194, 96);
  color: rgb(53, 46, 40);
}
body {
  background-color: var(--main-color);
  font-size: 1rem;
  font-family: "PT Sans Caption Regular";
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 3.125rem;
  position: relative;
  width: fit-content;
}
h2 {
  font-family: "Righteous", cursive;
  font-size: 1.5625rem;
}
label {
  font-family: "PT Sans Caption Bold", sans-serif;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: rgb(254, 194, 96);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(254, 194, 96, 0.25);
}
/*----------------------------------------- 
# Header Section Styles  
------------------------------------------*/
#bookmarker-homepage-header .container h1::before {
  content: "";
  background-color: rgb(254, 194, 96);
  height: 31.666666666667%;
  width: 100%;
  position: absolute;
  bottom: 3%;
  z-index: -1;
  transition: 0.3s height;
}
#bookmarker-homepage-header .container h1:hover::before {
  height: 64%;
}
/*--------------------------------------------
# Favourite Sites Register Form Section Styles  
---------------------------------------------*/
#fav-sites-register-form .container > div {
  margin-inline: 0;
  border-block: black dotted 0.125rem;
}
#fav-sites-register-form .container > div > div:first-child > .inner h2 {
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgb(60, 165, 92) 0%,
    rgb(181, 172, 73) 70%
  );
  background-clip: text;
}
#fav-sites-register-form .container > div > div:first-child > .inner h2 {
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgb(60, 165, 92) 0%,
    rgb(181, 172, 73) 70%
  );
  background-clip: text;
}
#fav-sites-register-form
  .container
  > div
  > div:nth-child(4)
  > .inner
  .btn-custom {
  --bs-btn-color: white;
  --bs-btn-border-color: rgb(209, 81, 45);
  --bs-btn-bg: rgb(209, 81, 45);
  --bs-btn-hover-border-color: rgb(187, 65, 32);
  transition: 0.5s all;
}
#fav-sites-register-form
  .container
  > div
  > div:nth-child(4)
  > .inner
  .btn-custom:hover {
  background-color: rgb(187, 65, 32);
  color: white;
}
/*--------------------------------------------
# Favourite Sites Table Section Styles  
---------------------------------------------*/
#fav-sites-register-table .container > table {
  vertical-align: middle;
}
#fav-sites-register-table .container > table .btn-visit {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9eb23b;
  --bs-btn-border-color: #9eb23b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8a9e23;
  --bs-btn-hover-border-color: #6e8018;
}
#fav-sites-register-table .container > table .btn-delete {
  --bs-btn-color: #fff;
  --bs-btn-bg: #eb1d36;
  --bs-btn-border-color: #eb1d36;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d30820;
  --bs-btn-hover-border-color: #ba081d;
}
.btn-visit {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9eb23b;
  --bs-btn-border-color: #9eb23b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8a9e23;
  --bs-btn-hover-border-color: #6e8018;
}
/*--------------------------------------------
# Submission Validation Popup Section Styles  
---------------------------------------------*/
#submission-validation-popup {
  background-color: rgba(0, 0, 0, 0.4);
}
#submission-validation-popup > div {
  max-width: 31.25rem;
  width: 31.25rem;
}
#submission-validation-popup > div header .circles > span {
  width: 1.25rem;
  height: 1.25rem;
}
#submission-validation-popup > div header .circles > span:first-child {
  background-color: rgb(241, 95, 93);
}
#submission-validation-popup > div header .circles > span:nth-child(2) {
  background-color: rgb(254, 190, 46);
}
#submission-validation-popup > div header .circles > span:last-child {
  background-color: rgb(77, 183, 72);
}
#submission-validation-popup > div article p {
  font-size: 1.3125rem;
  font-family: "BreeSerif Regular";
}
#submission-validation-popup > div article ul {
  list-style: none;
}
#submission-validation-popup > div article ul li {
  padding-top: 0.625rem;
}
#submission-validation-popup > div article ul li i {
  color: rgb(187, 65, 32);
  font-size: 1.125rem;
}
